/* root */

/* universal selector */

/* element selectors */

/* class selectors */
.title, .paragraph {
    display: flex;
    justify-content: center;
}

.startBtn {
    /* text-align: center; */
}

.question-one {
    display: none;
}