/* class selectors */
.title,
.paragraph {
  display: flex;
  justify-content: center;
}

.questionBox {
  margin: 10 px;
  padding: 10px;
}

.answerOptions {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.question-one {
  display: none;
}
