/* root */

/* universal selector */

/* element selectors */

/* class selectors */
.title, .paragraph {
    display: flex;
    justify-content: center;
}

.startBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.question-one {
    display: none;
}